h1 {
  color: white;
  margin: 0 auto;
  padding: 10px;
}

h3 {
  padding-top: 5px;
}

h4 {
  padding-top: 15px;
  padding-left: 15px;
}

.btn {
  background-color: rgb(49, 80, 253);
}

.mb-3 {
  padding: 15px;
}

#recent {
  color: rgb(129, 129, 129);
}

li {
  cursor: pointer;
  list-style: none;
  padding-bottom: 10px;
}

#currentStats {
  margin-top: 10px;
  margin-left: 0px;
  padding: 8px;
}

span {
  padding: 5px 0px 5px 10px;
}

.row {
  margin: 0px;
  padding: 0px;
}

.card-body {
  margin: 0px;
  padding: 10px 7px 10px 7px;
}

.extForecast {
  color: white;
  background-color: rgb(49, 80, 253);
}

.col-2 {
  margin: 0px;
  padding: 0px;
}

.bgGray {
  background-color: rgb(223, 223, 223);
}
