h1 {
  color: white;
  margin: 0 auto;
  padding: 10px;
}

h4 {
  padding: 10px;
}

.mb-3 {
  padding: 10px;
}

#recent {
  color: rgb(145, 145, 145);
}

li {
  cursor: pointer;
  list-style: none;
  /* padding-bottom: 10px; */
}